n8n-autopilot/workflows/06-content-kanone.json
{
  "name": "06 · Content-Kanone 🎬🔥",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "days", "daysInterval": 1, "triggerAtHour": 7, "triggerAtMinute": 30 }
          ]
        }
      },
      "id": "trigger-daily",
      "name": "⏰ Täglich 07:30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "s01", "name": "SHOP", "value": "dein-shop-subdomain", "type": "string" },
            { "id": "s02", "name": "SHOPIFY_TOKEN", "value": "shpat_HIER_DEIN_TOKEN", "type": "string" },
            { "id": "s03", "name": "ANTHROPIC_API_KEY", "value": "sk-ant-HIER_DEIN_KEY", "type": "string" },
            { "id": "s04", "name": "SHOP_NAME", "value": "Mein Shop", "type": "string" },
            { "id": "s05", "name": "SHOP_NISCHE", "value": "z.B. Fitness-Zubehoer fuer Zuhause", "type": "string" },
            { "id": "s06", "name": "ZIELGRUPPE", "value": "z.B. Frauen 20-35, sportlich, kaufen ueber TikTok/Insta", "type": "string" },
            { "id": "s07", "name": "TELEGRAM_BOT_TOKEN", "value": "123456:ABC-HIER_DEIN_BOT_TOKEN", "type": "string" },
            { "id": "s08", "name": "TELEGRAM_CHAT_ID", "value": "HIER_DEINE_CHAT_ID", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "setup",
      "name": "⚙️ Setup",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "={{ 'https://' + $('⚙️ Setup').first().json.SHOP + '.myshopify.com/admin/api/2024-10/orders.json?status=any&limit=250&created_at_min=' + encodeURIComponent($now.minus({ days: 14 }).toISO()) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Shopify-Access-Token", "value": "={{ $('⚙️ Setup').first().json.SHOPIFY_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "get-orders",
      "name": "📥 Verkäufe der letzten 14 Tage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const setup = $('⚙️ Setup').first().json;\nconst orders = ($json.orders || []).filter(o => !o.cancelled_at);\nconst produkte = {};\nfor (const o of orders) {\n  for (const li of (o.line_items || [])) {\n    produkte[li.title] = (produkte[li.title] || 0) + li.quantity;\n  }\n}\nconst top = Object.entries(produkte).sort((a, b) => b[1] - a[1]).slice(0, 3).map(([name]) => name);\nconst topText = top.length ? top.join(', ') : '(noch keine Verkaeufe - nutze die Nische als Basis)';\n\n// Wochentag fuer Abwechslung - jeden Tag ein anderer Content-Winkel\nconst winkel = [\n  'Social Proof & Kundenergebnisse',\n  'Problem-Agitation (Schmerzpunkt der Zielgruppe dramatisieren)',\n  'Behind the Scenes / Founder-Story',\n  'Vorher-Nachher & Transformation',\n  'Mythen aufdecken / unpopulaere Meinung',\n  'Produkt-Demo mit WOW-Moment',\n  'Humor / Trend-Sound-Adaption'\n];\nconst heute = winkel[new Date().getDay()];\n\nconst prompt = 'Du bist viraler Social-Media-Stratege fuer den Onlineshop \"' + setup.SHOP_NAME + '\" (Nische: ' + setup.SHOP_NISCHE + ').\\n' +\n  'Zielgruppe: ' + setup.ZIELGRUPPE + '\\n' +\n  'Bestseller aktuell: ' + topText + '\\n' +\n  'Content-Winkel fuer heute: ' + heute + '\\n\\n' +\n  'Erstelle das komplette Content-Paket fuer HEUTE, auf Deutsch:\\n\\n' +\n  '1. DREI TikTok/Reels-Hooks (erste 3 Sekunden, maximal 12 Woerter, scroll-stoppend, zum heutigen Winkel passend)\\n' +\n  '2. EIN komplettes 20-30s Video-Skript zum besten der 3 Hooks (Szene fuer Szene: was man sieht + was gesagt/eingeblendet wird)\\n' +\n  '3. EINE Instagram-Caption (Hook-Zeile, 3-4 kurze Zeilen Story, CTA, 5 passende Hashtags)\\n' +\n  '4. EINE Story-Idee mit Interaktions-Element (Umfrage/Slider/Frage)\\n\\n' +\n  'Regeln: Kein generisches Marketing-Blabla, schreib wie ein Mensch, nutze Muster viraler Videos (offene Schleifen, Pattern Interrupts, direkte Ansprache). Formatiere uebersichtlich mit Emojis als Abschnittstrenner. Antworte NUR mit dem Content-Paket als Klartext (kein Markdown-Codeblock).';\n\nreturn [{ json: { prompt, winkel: heute } }];"
      },
      "id": "build-prompt",
      "name": "🧠 Bestseller + Tages-Winkel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $('⚙️ Setup').first().json.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-opus-4-8', max_tokens: 3000, messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      },
      "id": "claude-content",
      "name": "🤖 Claude produziert Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const blocks = $json.content || [];\nconst content = (blocks.find(b => b.type === 'text') || {}).text || '';\nconst winkel = $('🧠 Bestseller + Tages-Winkel').item.json.winkel;\nconst setup = $('⚙️ Setup').first().json;\n\nconst kopf = '🎬 CONTENT-KANONE · ' + setup.SHOP_NAME + '\\n' +\n  '📅 Heutiger Winkel: ' + winkel + '\\n' +\n  '━━━━━━━━━━━━━━━━━━\\n\\n';\n\n// Telegram-Limit: 4096 Zeichen pro Nachricht -> ggf. splitten\nconst voll = kopf + content;\nconst teile = [];\nfor (let i = 0; i < voll.length; i += 3900) teile.push(voll.slice(i, i + 3900));\nreturn teile.map(t => ({ json: { telegram_text: t } }));"
      },
      "id": "split-message",
      "name": "📦 Nachricht vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $('⚙️ Setup').first().json.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('⚙️ Setup').first().json.TELEGRAM_CHAT_ID, text: $json.telegram_text }) }}",
        "options": {}
      },
      "id": "telegram-content",
      "name": "📲 Content aufs Handy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 0]
    }
  ],
  "connections": {
    "⏰ Täglich 07:30": { "main": [[{ "node": "⚙️ Setup", "type": "main", "index": 0 }]] },
    "⚙️ Setup": { "main": [[{ "node": "📥 Verkäufe der letzten 14 Tage", "type": "main", "index": 0 }]] },
    "📥 Verkäufe der letzten 14 Tage": { "main": [[{ "node": "🧠 Bestseller + Tages-Winkel", "type": "main", "index": 0 }]] },
    "🧠 Bestseller + Tages-Winkel": { "main": [[{ "node": "🤖 Claude produziert Content", "type": "main", "index": 0 }]] },
    "🤖 Claude produziert Content": { "main": [[{ "node": "📦 Nachricht vorbereiten", "type": "main", "index": 0 }]] },
    "📦 Nachricht vorbereiten": { "main": [[{ "node": "📲 Content aufs Handy", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
