n8n-autopilot/workflows/16-cross-sell-radar.json
{
  "name": "16 · Cross-Sell-Radar 🎁📈",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "days", "daysInterval": 1, "triggerAtHour": 15, "triggerAtMinute": 0 }
          ]
        }
      },
      "id": "trigger-daily",
      "name": "⏰ Täglich 15:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "s01", "name": "SHOP", "value": "dein-shop-subdomain", "type": "string" },
            { "id": "s02", "name": "SHOPIFY_TOKEN", "value": "shpat_HIER_DEIN_TOKEN", "type": "string" },
            { "id": "s03", "name": "ANTHROPIC_API_KEY", "value": "sk-ant-HIER_DEIN_KEY", "type": "string" },
            { "id": "s04", "name": "SHOP_NAME", "value": "Mein Shop", "type": "string" },
            { "id": "s05", "name": "SHOP_URL", "value": "https://meinshop.de", "type": "string" },
            { "id": "s06", "name": "ABSENDER_EMAIL", "value": "hallo@meinshop.de", "type": "string" },
            { "id": "s07", "name": "OWNER_EMAIL", "value": "deine@email.de", "type": "string" },
            { "id": "s08", "name": "KAUF_VOR_TAGEN", "value": "14", "type": "string" },
            { "id": "s09", "name": "TEST_MODE", "value": "ja", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "setup",
      "name": "⚙️ Setup",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "={{ 'https://' + $('⚙️ Setup').first().json.SHOP + '.myshopify.com/admin/api/2024-10/orders.json?status=any&limit=250&created_at_min=' + encodeURIComponent($now.minus({ days: parseInt($('⚙️ Setup').first().json.KAUF_VOR_TAGEN) + 1 }).startOf('day').toISO()) + '&created_at_max=' + encodeURIComponent($now.minus({ days: parseInt($('⚙️ Setup').first().json.KAUF_VOR_TAGEN) }).startOf('day').toISO()) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Shopify-Access-Token", "value": "={{ $('⚙️ Setup').first().json.SHOPIFY_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "get-orders",
      "name": "📥 Käufe von vor X Tagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "url": "={{ 'https://' + $('⚙️ Setup').first().json.SHOP + '.myshopify.com/admin/api/2024-10/products.json?limit=50&fields=id,title,handle,product_type,variants' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Shopify-Access-Token", "value": "={{ $('⚙️ Setup').first().json.SHOPIFY_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "get-products",
      "name": "🛍️ Produktkatalog holen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nsd.crosssell = sd.crosssell || [];\nconst setup = $('⚙️ Setup').first().json;\nconst orders = (($('📥 Käufe von vor X Tagen').first().json.orders) || []).filter(o => !o.cancelled_at && o.email);\nconst katalog = (($json.products) || []).slice(0, 25)\n  .map(p => '- ' + p.title + ' | Typ: ' + (p.product_type || '-') + ' | Preis: ' + (((p.variants || [])[0] || {}).price || '?') + ' | Link: ' + setup.SHOP_URL + '/products/' + p.handle)\n  .join('\\n');\nconst raus = [];\n\nfor (const o of orders) {\n  if (sd.crosssell.includes(o.id)) continue;\n  sd.crosssell.push(o.id);\n  const gekauft = (o.line_items || []).map(li => li.title).join(', ');\n  const vorname = (o.customer && o.customer.first_name) || '';\n\n  const prompt = 'Du bist Empfehlungs-Experte fuer den Onlineshop \"' + setup.SHOP_NAME + '\".\\n' +\n    'Der Kunde hat vor ' + setup.KAUF_VOR_TAGEN + ' Tagen gekauft: ' + gekauft + '\\n' +\n    'Vorname: ' + (vorname || 'unbekannt (neutral anreden)') + '\\n\\n' +\n    'Produktkatalog:\\n' + katalog + '\\n\\n' +\n    'Aufgabe:\\n' +\n    '1. Waehle aus dem Katalog 1-2 Produkte, die WIRKLICH sinnvoll zum Gekauften passen (ergaenzen, nicht ersetzen!). Wenn nichts wirklich passt, nimm die 1-2 beliebtesten Allrounder.\\n' +\n    '2. Schreibe eine persoenliche Empfehlungs-Mail auf Deutsch (Du-Form), max 120 Woerter: Einstieg = kurze Frage, wie er mit dem gekauften Produkt zufrieden ist. Dann die Empfehlung als ehrlichen Tipp formulieren (\"Kunden, die X haben, lieben Y, weil...\") mit Produktlink(s) als Button/Link. KEIN Rabatt noetig - die Empfehlung selbst ist der Wert.\\n' +\n    'Mobiltaugliches HTML mit Inline-CSS. Antworte NUR mit validem JSON, ohne Markdown-Codeblock: {\"betreff\": \"...\", \"html\": \"...\"}';\n\n  raus.push({ json: { order_id: o.id, email: o.email, vorname, prompt } });\n}\n\nif (sd.crosssell.length > 2000) sd.crosssell = sd.crosssell.slice(-2000);\nreturn raus;"
      },
      "id": "match-products",
      "name": "🧠 Passende Produkte finden",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $('⚙️ Setup').first().json.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-opus-4-8', max_tokens: 2000, messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      },
      "id": "claude-recommend",
      "name": "🤖 Claude schreibt Empfehlung",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const blocks = $json.content || [];\nconst text = (blocks.find(b => b.type === 'text') || {}).text || '';\nlet daten;\ntry {\n  daten = JSON.parse(text.replace(/```json|```/g, '').trim());\n} catch (e) {\n  daten = { betreff: 'Das koennte dir auch gefallen ✨', html: text };\n}\nconst orig = $('🧠 Passende Produkte finden').item.json;\nconst setup = $('⚙️ Setup').first().json;\nconst empfaenger = setup.TEST_MODE === 'ja' ? setup.OWNER_EMAIL : orig.email;\nreturn { json: {\n  empfaenger,\n  betreff: (setup.TEST_MODE === 'ja' ? '[TEST] ' : '') + daten.betreff,\n  email_html: daten.html\n}};"
      },
      "id": "parse-mail",
      "name": "📦 Antwort parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "fromEmail": "={{ $('⚙️ Setup').first().json.ABSENDER_EMAIL }}",
        "toEmail": "={{ $json.empfaenger }}",
        "subject": "={{ $json.betreff }}",
        "emailFormat": "html",
        "html": "={{ $json.email_html }}",
        "options": {}
      },
      "id": "send-mail",
      "name": "📧 E-Mail senden",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1540, 0]
    }
  ],
  "connections": {
    "⏰ Täglich 15:00": { "main": [[{ "node": "⚙️ Setup", "type": "main", "index": 0 }]] },
    "⚙️ Setup": { "main": [[{ "node": "📥 Käufe von vor X Tagen", "type": "main", "index": 0 }]] },
    "📥 Käufe von vor X Tagen": { "main": [[{ "node": "🛍️ Produktkatalog holen", "type": "main", "index": 0 }]] },
    "🛍️ Produktkatalog holen": { "main": [[{ "node": "🧠 Passende Produkte finden", "type": "main", "index": 0 }]] },
    "🧠 Passende Produkte finden": { "main": [[{ "node": "🤖 Claude schreibt Empfehlung", "type": "main", "index": 0 }]] },
    "🤖 Claude schreibt Empfehlung": { "main": [[{ "node": "📦 Antwort parsen", "type": "main", "index": 0 }]] },
    "📦 Antwort parsen": { "main": [[{ "node": "📧 E-Mail senden", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
